body{
    width: 100%;
    margin-bottom: 0px;
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5; 
    margin-left: auto;
    margin-right: auto;
}

.all{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin-bottom: 25px;
    margin-top: 15px;
}

.left{
    background-color: #fff;
    width: 33%;
    /*max-width: 450px;*/
    max-width: 405px;
    position: absolute;
    margin-left: 10px;
}

.left-text{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

img {
    width: 90%;
    max-width: 450px;
}

i{
    margin-right: 5px;
    color: #5ed6ca;
}

.h3{
    font-size: 24px;
}

.skill-bar{
    text-align: center;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
    border-radius: 15px;
    color: white;
}

.container{
    background-color: #dbdada;
    border-radius: 15px;
}

.adobe{
    width: 90%;
    background-color: #5ed6ca;
}

.photography{
    width: 80%;
    background-color: #5ed6ca;
}

.illustrator{
    width: 75%;
    background-color: #5ed6ca;
}

.media{
    width: 50%;
    background-color: #5ed6ca;
}

.h2-p{
    font-size: 24px;
}

.h2-p i{
    font-size: 18px;
}

.english{
    width: 100%;
    background-color:#5ed6ca;
}

.spanish{
    width: 50%;
    background-color: #5ed6ca;
}

.german{
    width: 15%;
    background-color: #5ed6ca;
}

/* End of left */

.experience{
    width: 64%;
    float: right;
    background-color: #fff;
    margin-right: 10px;

}

.experience-text{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.tittle{
    margin-bottom: 35px;
}

.text-background{
    background-color: #5ed6ca;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* end of experience */

.education{
    width: 64%;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 10px;
    float: right;
    background-color: #fff;
}

.education-text{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

/* End of Education */
footer{    margin-top: 250px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #5ed6ca;
    text-align: center;

    /* Wiht out clear: both; The footer float at the top of the page */
    clear: both;
}

/* End of footer */

@media (max-width: 737px) and (min-width: 280px) {

    .left{
        position: inherit;
        display: inline-flex;
        width: auto;  
        margin-bottom: 15px;
        margin-right: 10px;
        /* It alrady has marign-left */
    }

    .experience{
        display: inline-flex;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    .education{
        display: inline-flex;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media (max-width: 415px) and (min-width: 413px){
    .education{
        padding-right: 25px;
    }
}

@media (max-width: 738px) and (min-width: 411px) {
    .left{
        padding-right: 70px;
    }

    .education{
        padding-right: 150px;
    }
}